---
import { Meta } from '@/components'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<Meta
			title="Houstra | demo landing page"
			description="neat and simple housing thing"
		/>
	</head>
	<body class="font-lexend">


		<!-- End of page -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend:wght@300;400;500;600;700&family=Manrope&display=swap"
			rel="stylesheet"
		/>
	</body>
</html>
